h1 {
    border: 2px outset darkcyan;
    border-radius: 25px;
    background-color: ivory;
    width: 150px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;

}