h1 {
    border: 2px outset darkcyan;
    border-radius: 25px;
    background-color: ivory;
    width: 150px;
    text-align: center;
    padding: 60px 100px;
    font-size: 2rem;

    /* Centering */
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}

body {
    background: linear-gradient(to bottom, #f0f8ff, #e6f2ff);
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px 0;
    background-color: #ffffffcc;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;

}

.page-menu {
    list-style: none;
    display: flex;
    gap: 100px;
}

.page-menu li a {
    display: block;
    font-size: 1.2rem;
    padding: 20px 50px;
    background-color: ivory;
    color: black;
    text-decoration: none;
    border: 2px outset darkcyan;
    border-radius: 25px;
    transition: transform 0.2s, background-color 0.2s;
}

.page-menu li a:hover {
    background-color: whitesmoke;
    transform: scale(1.05);
}