h1 {
    border: 2px outset darkcyan;
    border-radius: 25px;
    background-color: ivory;
    width: 150px;
    text-align: center;
    padding: 20px;

    /* Centering */
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;

}